@model review.web.Models.ReviewContentItem
@{
    ViewBag.Title = "EmailFrame";
    var iframeSource = "/Content/Review/" + Model.path + ".html";
    var scrollbarAllowance = 0;
    if (Request.UserAgent.Contains("Windows")) { scrollbarAllowance = 21; }
    var displayWidth = Model.width + scrollbarAllowance;
    var displayHeight = Model.width * 1.6666666666666666666666666666667;
}

@section head {
    <style type="text/css">
        .content-iframe-container { width: @(displayWidth)px; }
        .content-iframe { height: @(displayHeight)px; }
    </style>
}

@section scripts {
    <script type="text/javascript">
        var prepIframe = function () {
            $("#content-iframe").contents().find('img').each(function () {
                $(this).attr('data-original-source', $(this).attr('src'))
            });
        }

        $(function () {

            $('#review_display_normal')
                .on('click', function (e) {
                    e.preventDefault();
                    if ($(this).hasClass('btn-primary')) return;

                    $(this)
                        .addClass('btn-primary')
                        .removeClass('btn-default');

                    $('#review_display_no-images')
                        .addClass('btn-default')
                        .removeClass('btn-primary');

                    $("#content-iframe").contents().find('img').each(function (index, element) {
                        var $this = $(this);
                        $this.attr('src', $this.attr('data-original-source'));
                    });
                });

            $('#review_display_no-images')
                .on('click', function (e) {
                    e.preventDefault();
                    if ($(this).hasClass('btn-primary')) return;

                    $(this)
                        .addClass('btn-primary')
                        .removeClass('btn-default');

                    $('#review_display_normal')
                        .addClass('btn-default')
                        .removeClass('btn-primary');

                    $("#content-iframe").contents().find('img').each(function (index, element) {
                        var $this = $(this);
                        $this.attr('src', '');
                    });
                })
        });
    </script>
}

<div class="container">
    <h2>@Model.name</h2>
    <h3>@Model.subject</h3>
</div>

<div class="content-iframe-container">
    <div style="text-align: center;">
        <div style="display: inline-block;">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group" role="group">
                    <button id="review_display_normal" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></button>
                    <button id="review_display_no-images" type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-close"></span></button>
                </div>
                <div class="btn-group" role="group">
                    <a id="review_new_window" class="btn btn-default" href="@iframeSource" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
                </div>
            </div>
        </div>
    </div>

    <iframe id="content-iframe" class="content-iframe" src="@iframeSource" onload="javascript: prepIframe();"></iframe>
</div>
